argparse
beautifulsoup4
Document
dotmap
faker
future
httplib2
nltk
notebook
numpy
objectpath
openPyXL
pandas
pathlib
pdfminer
# Pillow
prettytable
# protobuf
python-docx
pytorch-lightning
regex
sentence-transformers
simple-file-checksum
tensorflow
#tensorflow-gpu
tensorflow-hub
torch
tqdm
transformers
transformers[tf-gpu]
urllib3
wget
yamlpath

# ipython
notebook
ipywidgets
widgetsnbextension
